{%- assign categories = page.categories | join: '--###--' | split: '--###--' | first | split: '/' -%}
{%- assign next_post = nil -%}
{%- assign previous_post = nil -%}
{%- assign next_post_level = -1 -%}
{%- assign previous_post_level = -1 -%}

{%- assign categories_count = categories.size -%}
{%- for level in (0..categories_count) reversed -%}
  {%- assign current_category = categories | slice: 0, level -%}
  {%- for post in site.posts -%}
    {% unless post.url == page.url %}
      {%- for category in post.categories -%}
        {%- assign category_parts = category | split: '/' -%}
        {%- assign starts_with = true -%}
        {%- assign count = current_category.size | minus: 1 -%}
        {%- for i in (0..count) -%}
          {%- if category_parts[i] != current_category[i] -%}
            {%- assign starts_with = false -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if starts_with -%}
          {%- if post.date > page.date and (next_post == nil or post.date < next_post.date) and level >= next_post_level -%}
            {%- assign next_post = post -%}
            {%- assign next_post_level = level -%}
            {%- break -%}
          {%- endif -%}
          {%- if post.date < page.date and (previous_post == nil or post.date > previous_post.date) and level >= previous_post_level -%}
            {%- assign previous_post = post -%}
            {%- assign previous_post_level = level -%}
            {%- break -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- if next_post and previous_post -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<nav class="post-navigation" role="navigation">
  {% if previous_post %}
  <div class="previous-post">
    <div class="post-navigation-thumbnail delayed-bgimage-load" data-bgsrc="{{ previous_post.image }}"></div>
    <div class="post-navigation-header">
      <div class="post-navigation-subtitle">Vorige post</div>
      <h3 class="post-navigation-title"><a href="{{ previous_post.url | relative_url }}" rel="prev">{{ previous_post.title | escape }}</a></h3>
    </div>
  </div>
  {% endif %}

  {% if next_post %}
  <div class="next-post">
    <div class="post-navigation-thumbnail delayed-bgimage-load" data-bgsrc="{{ next_post.image }}"></div>
    <div class="post-navigation-header">
      <div class="post-navigation-subtitle">Volgende post</div>
      <h3 class="post-navigation-title"><a href="{{ next_post.url | relative_url }}" rel="next">{{ next_post.title | escape }}</a></h3>
    </div>
  </div>
  {% endif %}
</nav>
