<div class="sidebar">
  <div class="sidebar-navigation">
    {%- include navigation.html -%}
  </div>

  <div class="menu-toggle"><span></span></div>

  <div class="page-sidebar" role="complementary">
    <div class="widget">
      {%- include tags.html -%}
    </div>
    <div class="widget">
      {%- include categories.html -%}
    </div>
    <div class="widget">
      {%- include search.html -%}
    </div>
    <div class="widget">
      {%- include recents.html -%}
    </div>
  </div>
</div>
