{%- include loader.html -%}

{%- include sidebar.html -%}

<div class="site-overlay"></div>

{%- assign classes = "site" -%}
{%- if site.wimme.big_hero -%}
  {%- assign classes = classes | append: " big-hero" -%}
{%- endif -%}
<div class="{{ classes }}">

  {%- include header.html -%}

  <main class="site-main clear" role="main">
    {{ content }}
  </main>

  {%- include footer.html -%}
</div>

{%- include popup.html -%}

<script type="text/javascript" src="{{ "/assets/js/script.js" | relative_url }}"></script>
