.gallery {
	width: calc(100% - -135px);
	margin: 0 0 15px -60px;
	padding: 0;
	display: grid;
	grid-gap: 15px;
}

.gallery::after {
	content: "";
	clear: both;
	display: block;
}

.gallery + .gallery {
	margin-top: -15px;
}

.gallery figure {
	margin: 0;
	padding: 0;
}

.gallery .gallery-item {
	position: relative;
	display: block;
	padding: 0;
	text-align: center;
}

.gallery-columns-1 {
	grid-template-columns: 1fr;
}

.gallery-columns-2 {
	grid-template-columns: 1fr 1fr;
}

.gallery-columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.gallery-columns-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-columns-5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery-columns-6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery-columns-7 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery-columns-8 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery-columns-9 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery .gallery-caption {
	opacity: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-right: 10px;
	padding: 6px 12px;
	background-color: rgba(255, 255, 255, .96);
	font-size: 12px;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

@media only screen and (max-width: 767px) {

	.gallery {
		width: calc(100% - -60px);
		margin-left: -30px;
	}

	.gallery-columns-1,
	.gallery-columns-3,
	.gallery-columns-5,
	.gallery-columns-7,
	.gallery-columns-9 {
		grid-template-columns: 1fr;
	}

	.gallery-columns-2,
	.gallery-columns-4,
	.gallery-columns-6,
	.gallery-columns-8 {
		grid-template-columns: 1fr 1fr;
	}

}
