.site-header {
	position: relative;
	padding: 30px;
	background-color: #fff;
}

/* Logo ------------------------------*/

.site-logo {
	float: left;
}

.logo-text {
	color: #505050;
	font-size: 24px;
	font-weight: 700;
}

.logo-image {
	display: inline-block;
	width: 400px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 20%;
	text-indent: -1000px;
}

/* Menu toggle -----------------------*/

.site-header .menu-toggle {
	top: 50%;
	margin-top: -10px;
}

/* Responsive -----------------------*/

@media only screen and (max-width: 980px) {

	.logo-image {
		max-width: 80%;
	}

}
