.map {
	width: 100%;
	height: 400px;
}

.map .popup-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.map .popup-content .popup-image {
	width: 100%;
	min-width: 120px;
	height: 100px;
	background-size: cover;
	background-position: center;
}

.map-marker {
  width: 26px;
  height: 26px;
  background-color: #FFF;
  border-radius: 50% 50% 50% 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mapboxgl-marker.highlighted {
  z-index: 10;
}
.mapboxgl-marker.highlighted .map-marker {
  background-color: #e4c05c;
  transition: background-color 0.3s ease;
}

.map-marker-icon svg {
  width: 12px;
  height: 12px;
  fill: #fff;
}

.map-marker-shadow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 18px;
  height: 6px;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(4px);
  border-radius: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.map-marker-icon {
  background-color: #F00;
  border-radius: 50%;
  transform: rotate(45deg);
  line-height: 12px;
  height: 20px;
  padding: 4px;
}

.map-marker-icon--amusement_park {
  background-color: #ef4444;
}
.map-marker-icon--beach {
  background-color: #06b6d4;
}
.map-marker-icon--bridge {
  background-color: #8b5cf6;
}
.map-marker-icon--building {
  background-color: #f97316;
}
.map-marker-icon--bus {
  background-color: #f43f5e;
}
.map-marker-icon--cafe {
  background-color: #f87171;
}
.map-marker-icon--campsite {
  background-color: #10b981;
}
.map-marker-icon--car {
  background-color: #ef4444;
}
.map-marker-icon--castle {
  background-color: #a855f7;
}
.map-marker-icon--city {
  background-color: #6366f1;
}
.map-marker-icon--climbing {
  background-color: #22c55e;
}
.map-marker-icon--dam {
  background-color: #3b82f6;
}
.map-marker-icon--harbor {
  background-color: #0ea5e9;
}
.map-marker-icon--hot-spring {
  background-color: #f59e0b;
}
.map-marker-icon--ice-cream {
  background-color: #fbbf24;
}
.map-marker-icon--landmark {
  background-color: #8b5cf6;
}
.map-marker-icon--lighthouse {
  background-color: #f97316;
}
.map-marker-icon--lodging {
  background-color: #3b82f6;
}
.map-marker-icon--monument {
  background-color: #a855f7;
}
.map-marker-icon--mountain {
  background-color: #22c55e;
}
.map-marker-icon--museum {
  background-color: #f43f5e;
}
.map-marker-icon--observation-tower {
  background-color: #f59e0b;
}
.map-marker-icon--pedestrian {
  background-color: #10b981;
}
.map-marker-icon--playground {
  background-color: #fbbf24;
}
.map-marker-icon--star {
  background-color: #fbbf24;
}
.map-marker-icon--swimming {
  background-color: #0ea5e9;
}
.map-marker-icon--town {
  background-color: #6366f1;
}
.map-marker-icon--town-hall {
  background-color: #8b5cf6;
}
.map-marker-icon--tree {
  background-color: #16a34a;
}
.map-marker-icon--viewpoint {
  background-color: #f59e0b;
}
.map-marker-icon--village {
  background-color: #6366f1;
}
.map-marker-icon--volcano {
  background-color: #ef4444;
}
.map-marker-icon--waterfall {
  background-color: #3b82f6;
}
.map-marker-icon--watermill {
  background-color: #0ea5e9;
}
.map-marker-icon--windmill {
  background-color: #f97316;
}
.map-marker-icon--zoo {
  background-color: #22c55e;
}
