.news-header {
	position: absolute;
	top: 50%;
	left: 45px;
	right: 45px;
	color: #fff;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.news-header a {
	color: #fff;
}

.news-meta {
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.news-header .title {
	margin-bottom: 0;
	font-size: 44px;
	line-height: 44px;
}

.news-toc {
	max-height: 150px;
	overflow-y: auto;
}
.news-toc :last-child {
	margin-bottom: 0;
}

.news-footer {
	margin-top: 30px;
}

.hero-meta .post-category {
	margin-right: 17px;
}

.post-category a {
	position: relative;
	display: inline-block;
	margin: 0 8px 8px;
	padding: 0 7px;
	background: #fff;
	color: #505050;
	line-height: 30px;
}

.post-category a:hover {
	padding-right: 12px;
	padding-left: 12px;
}

.post-category a:before,
.post-category a:after {
	position: absolute;
	display: block;
	top: 0;
	width: 0;
	height: 0;
	content: "";
}

.post-category a:before {
	left: -8px;
	border-top: 30px solid transparent;
	border-right: 8px solid #fff;
	border-bottom: 0 solid transparent;
}

.post-category a:after {
	right: -8px;
	border-bottom: 30px solid transparent;
	border-top: 0 solid transparent;
	border-left: 8px solid #fff;
}

.post-time:before {
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 3px;
	font-family: "Genericons";
	font-size: 22px;
	font-weight: normal;
	content: "\f303";
}

.widget_toc {
	display: none;
}
.js-toc > .toc-list {
	overflow: hidden;
	position: relative;
	padding-left: 15px;
}
.js-toc li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}
.js-toc li:last-child {
	margin-bottom: 0;
}
.js-toc li ol {
	margin-top: 10px;
}
.js-toc .is-active-link::before {
	background-color: #e4c05c;
}

@media only screen and (max-width: 767px) {
	.news-header {
		left: 35px;
		right: 35px;
	}

	.news-header .title {
		font-size: 32px;
		line-height: 32px;
	}

	.post-category a {
		display: none;
	}

	.post-category a:last-child {
		display: inline-block;
	}
}

@media only screen and (min-width: 1353px) {
	.news-container {
		display: flex;
		gap: 0;
		align-items: stretch;
	}

	.news-divider {
		flex: 1;
	}

	.news-item.hentry {
		margin-left: 0;
		margin-right: 0;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.news-sidebar {
		margin: -90px 0;
		width: 273px;
		background: #fbfbfb;
		padding: 20px;
		flex-shrink: 0;
	}

	.news-sidebar-content {
		position: sticky;
		top: 20px;
		margin-top: 70px;
	}

	.widget_toc {
		display: block;
	}

	.news-sidebar .map {
		height: 300px;
	}
}

@media only screen and (min-width: 1480px) {
	.news-sidebar {
		width: 400px;
	}
}
