---
layout: base
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="hero">
    <div class="hero-image delayed-bgimage-load" data-bgsrc="{{ page.image }}"></div>
    <div class="hero-content">
      <div class="hero-meta">
        {%- if page.categories -%}
          <span class="post-category">
            {%- for category_path in page.categories -%}
              {%- assign categories = category_path | split: '/' -%}
              {%- for category in categories -%}
                <a href="{{ site.baseurl }}/{{ site.wimme.category_path | default: 'category' }}/{%- for c in categories limit: forloop.index -%}{{ c | slugify }}/{%- endfor -%}">{{category}}</a>
              {%- endfor -%}
            {%- endfor -%}
          </span>
        {%- endif -%}
        <span class="post-time" itemprop="datePublished" content="{{ page.date | date: date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</span>
      </div>
      <h1 class="hero-title" itemprop="name">{{ page.title | escape }}</h1>
    </div>
  </div>
  <div class="news-container">
    <div class="news-divider"></div>
    <div class="news-item hentry clear">
      <div class="news-toc"></div>
      <div class="news-content" itemprop="articleBody">
        {{ content }}
      </div>
      {%- if page.footer -%}
        <div class="news-footer">
          {%- assign data = site.data[page.footer] -%}
          {%- include postfooter.html data=data -%}
        </div>
      {%- endif -%}
    </div>
    <div class="news-divider"></div>
    <div class="news-sidebar hentry">
      <div class="news-sidebar-content">
        <div class="widget">
          <aside class="widget_toc">
            <h6 class="widget-title">{{ site.wimme.toc_title | default: 'Contents' | escape }}</h6>
            <div class="js-toc"></div>
          </aside>
        </div>
        {%- if page.map and site.wimme.mapbox.access_token -%}
          <div class="widget">
            <aside class="widget_map">
              <h6 class="widget-title">{{ site.wimme.map_title | default: 'Map' | escape }}</h6>
              {%- include map.html id='news-sidebar-map' markers=page.map.markers -%}
            </aside>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- include postnavigation.html -%}
</article>
